body{
  background-color: antiquewhite;
  font-family: "Arial";
  user-select: none;
}

.grid {
  width: 90vw;
  justify-content: center;
  display: grid;
  flex-direction: row;
  outline: 1px black;
  gap:1em;
}

.six-by-four{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nine-by-six{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item:hover {
  filter: brightness(90%);
}

.item {
  font-size: large;
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 1px black;
  background-color: burlywood;
  gap: 5px;
  padding: 3px;
}

.icon{
  object-fit: contain;
  max-width: 8vw;
  max-height: 8vw;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lockButton {
  background-color: transparent;
  border: 0;
}

.lockIcon {
  height: 30px;
  max-width: 50px;
}

.green{
  background-color: rgb(188, 248, 188);
}

.blue{
  background-color: rgb(167, 237, 237);
}

.black{
  background-color: gainsboro;
}

.red{
  background-color: rgb(240, 111, 111);
}

.pink{
  background-color: pink;
}