body {
  background-color: #faebd7;
  font-family: "Arial";
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.grid {
  max-width: 75vw;
  display: grid;
  gap: 0.5em;
  grid-auto-flow: row;

}

.item:hover,
.item:focus {
  filter: brightness(90%);
  cursor: pointer;
}

.item {
  font-size: 2ch;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 0 1px black;
  width: 100%;
  height: 100%;
}

.icon {
  max-width: 70%;
  pointer-events: none;
}

.hidden {
  display: none;
}

.linkItem {
  border-radius: 15px;
}


.largeText {
  font-size: xx-large;
}

.sentenceSection {
  display: flex;
  gap: 5px;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.sentenceDisplay {
  font-size: 5ch;
  width: 100%;
}

li {
  all:unset
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grammarMarker {
  display: none;
  box-shadow: 0 0 0 1px black;
  background-color: grey;
}

.sidebarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sidebar {
  position: absolute;
  left: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(184, 184, 184, 0.87);
  min-height: 80vh;
  max-width: 25vw;
  padding: 1em;
}

.setSelectButton {
  box-shadow: 0 0 0 1px black;
  padding: 0.3em;
  margin: 1em;
  background-color: darkcyan;
  border-radius: 5px;
}

.playbackButton {
  height: 50px;
  width: 50px;
}

.three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.four-cols {
  grid-template-columns: repeat(4, 1fr);
}

.five-cols {
  grid-template-columns: repeat(5, 1fr);
}

.six-cols {
  grid-template-columns: repeat(6, 1fr);
}

.seven-cols {
  grid-template-columns: repeat(7, 1fr);
}

.eight-cols {
  grid-template-columns: repeat(8, 1fr);
}

.nine-cols {
  grid-template-columns: repeat(9, 6.5vw);
}

.three-rows {
  grid-template-rows: repeat(3, 1fr);
}

.four-rows {
  grid-template-rows: repeat(4, 1fr);
}

.five-rows {
  grid-template-rows: repeat(5, 1fr);
}

.six-rows {
  grid-template-rows: repeat(6, 6.5vw);
}

.red {
  background-color: rgb(255, 79, 79);
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: rgb(248, 207, 103);
}

.green {
  background-color: rgb(188, 248, 188);
}

.blue {
  background-color: rgb(167, 237, 237);
}

.grey {
  background-color: gainsboro;
}

.white {
  background-color: white;
}

.linkColour {
  background-color: darkcyan;
}