@import url('https://fonts.cdnfonts.com/css/opendyslexic');
@import url('https://fonts.cdnfonts.com/css/comic-neue');

:root {
  --grid-size: 100px;
  --font: "Helvetica", "sans-serif";
  --background-colour: rgb(230, 230, 230);
  --icon-filter: none;
}

html, body {
  touch-action: none;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--background-colour);
  user-select: none;
  touch-action:none;
}

body.dark {
  --icon-filter: invert(100%) sepia(35%) saturate(6%) hue-rotate(65deg) brightness(117%) contrast(87%);
  --background-colour: #111;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  align-items: center;
  justify-content: center;
  display: grid;
}

.item:hover,
.item:focus {
  filter: brightness(90%);
  cursor: pointer;
}

.item {
  /* Set scale font size to hopefully fit in the boxes */
  font-size: min(calc(var(--grid-size) * 0.3), 2ch);
  font-weight: bold;
  flex-direction: column;
  box-shadow: 0 0 0 1px inset black;
  width: var(--grid-size);
  height: var(--grid-size);
  overflow: hidden;
  text-align: center;
}

.icon {
  width: 70%;
  height: 70%;
  pointer-events: none;
}


.hidden {
  display: none !important;
}

.linkItem {
  border-radius: 15px;
}

.largeText {
  font-size: xx-large;
}

.topBar {
  display: flex;
  gap: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  align-items: center;
  height: 5vh;
}

.sentenceDisplay {
  box-shadow: 0 0 0 1px black;
  background-color: #efefef;
  font-size: 3vh;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  height: 1.2em;
}

ol, li {
  all: unset;
}

h2,
h3,
p {
  margin: 0;
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
}

select {
  width: 30ch;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(184, 184, 184, 0.925);
  gap: 1em;
  z-index: 3;
  padding: 0.5em;
  width: 30ch;
  max-height: 95%;
  overflow: auto;
  box-shadow: 0 0 0 1px black;
}

.sidebarButton {
  box-shadow: 0 0 0 1px black;
  width: 100%;
  background-color: darkcyan;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  z-index: -1;
}

.inlineSidebarButton{
  box-shadow: 0 0 0 1px black;
  background-color: darkcyan;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  z-index: 1;
}

.sidebarButton:active, .inlineSidebarButton:active {
  background-color: rgb(3, 99, 99);
}

.playbackButton > img {
  /* icons to near white #efefef */
  filter: var(--icon-filter);
  height: 2rem;
  width: 2rem;
}

.displayFlexRow {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

.flex-grid{
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Cols */

.cols-3 {
  grid-template-columns: repeat(3, var(--grid-size));
}

.cols-4 {
  grid-template-columns: repeat(4, var(--grid-size));
}

.cols-5 {
  grid-template-columns: repeat(5, var(--grid-size));
}

.cols-6 {
  grid-template-columns: repeat(6, var(--grid-size));
}

.cols-7 {
  grid-template-columns: repeat(7, var(--grid-size));
}

.cols-8 {
  grid-template-columns: repeat(8, var(--grid-size));
}

.cols-9 {
  grid-template-columns: repeat(9, var(--grid-size));
}

.cols-10 {
  grid-template-columns: repeat(10, var(--grid-size));
}

.cols-11 {
  grid-template-columns: repeat(11, var(--grid-size));
}

.cols-12 {
  grid-template-columns: repeat(12, var(--grid-size));
}

/* Rows */

.rows-3 {
  grid-template-rows: repeat(3, var(--grid-size));
}

.rows-4 {
  grid-template-rows: repeat(4, var(--grid-size));
}

.rows-5 {
  grid-template-rows: repeat(5, var(--grid-size));
}

.rows-6 {
  grid-template-rows: repeat(6, var(--grid-size));
}

.rows-7 {
  grid-template-rows: repeat(7, var(--grid-size));
}

.rows-8 {
  grid-template-rows: repeat(8, var(--grid-size));
}

.rows-9 {
  grid-template-rows: repeat(9, var(--grid-size));
}

.rows-10 {
  grid-template-rows: repeat(10, var(--grid-size));
}

/* Colours */

.red {
  background-color: rgb(255, 79, 79);
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: rgb(248, 207, 103);
}

.green {
  background-color: rgb(188, 248, 188);
}

.blue {
  background-color: rgb(167, 237, 237);
}

.grey {
  background-color: gainsboro;
}

.white {
  background-color: white;
}

.grammarMarkerColour {
  background-color: rgb(177, 156, 217);
}

.linkColour {
  background-color: darkcyan;
}

.editMode{
  background-color: rgb(153, 71, 149);
}
