body {
  background-color: antiquewhite;
  font-family: "Arial";
  user-select: none;
  /* overflow: hidden; */
  -webkit-appearance:none;
  color: black;
}

.grid {
  max-width: 80%;
  justify-content: center;
  display: grid;
  flex-direction: row;
  outline: 1px black;
  gap: 1em;
}

.six-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nine-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em
}

.item:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.item {
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px black;
  color: black;
  height: 120px;
  width: 120px;
}

.linkItem {
  background-color: darkcyan;
  border-radius: 15px;
}

.icon {
  max-width: 70%;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

#sentenceSection {
  width: 100%;
  height: fit-content;
  padding-top: 0;
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

#sentenceDisplay {
  font-size: 5ch;
  width: 100%;
}

#playButton, #clearButton {
  height: 50px;
  width: 50px;
}

.green {
  background-color: rgb(188, 248, 188);
}

.blue {
  background-color: rgb(167, 237, 237);
}

.dark-blue {
  background-color: darkcyan;
}

.grey {
  background-color: gainsboro;
}

.red {
  background-color: rgb(255, 79, 79);
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: rgb(248, 207, 103);
}

.orange {
  background-color: orange;
}